.footer {
    width: 100%;
    background-color: #00000088;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
  }
  
  .scrolling-text {
    white-space: nowrap;
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }