.navbar1 {
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logo {
    width: 100px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-link {
    color: white;
    white-space: nowrap;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
    color: rgb(200, 200, 200);
    transform: scale(1.1);
}

.nav-link.active {
    color: rgb(150, 150, 150);
}

.searchb {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search {
    width: 20px;
    transition: opacity 0.3s ease;
}

.searchb:hover .search {
    opacity: 0.7;
}

.textp {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.textp:hover {
    transform: scale(1.1);
}

/* Stili per schermi più grandi */
@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .form-control {
        width: 200px;
    }

    .navbar-collapse {
        display: flex !important;
    }

    .offcanvas {
        display: none !important;
    }
}

/* Stili per l'offcanvas su schermi più piccoli */
@media (max-width: 991px) {
    .offcanva {
        background-color: #006cff;
    }

    .offcanva1 {
        padding: 0 20px;
    }

    .offcanva .nav-link {
        color: white;
        padding: 10px 0;
    }

    .offcanva .textp {
        margin-bottom: 10px;
    }

    .offcanva .searchb {
        right: 20px;
    }

    .offcanva .btn {
        margin-top: 10px;
    }

    .navbar-collapse {
        display: none !important;
    }
}

/* Nascondi il toggle dell'offcanvas su schermi grandi */
@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}

.custom-toggler {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.custom-toggler:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.toggler-icon {
    width: 24px;
    height: 24px;
}