.admin-dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  color: white;
}

.admin-dashboard h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-dashboard .btn {
  margin: 5px;
  text-decoration: none;
  color: white;
}

.admin-dashboard .card {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin-bottom: 15px;
  text-align: center;
}

.admin-dashboard .card-body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-dashboard .card-title,
.admin-dashboard .card-text {
  margin-bottom: 10px;
}

.admin-dashboard input[type="text"] {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  width: 100%;
}

.admin-dashboard input[type="text"]::placeholder{
  color: white;
}

.btngroups {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.card-wrapper {
  width: calc(50% - 10px); /* 50% della larghezza meno metà del gap */
  min-width: 250px; /* Larghezza minima per evitare card troppo strette */
  max-width: 100%; /* Assicura che non superi la larghezza del contenitore */
}

.card-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

@media (min-width: 768px) {
  .card-wrapper {
      width: 50%;
  }
}

.card {
  height: 100%; /* Assicura che tutte le card abbiano la stessa altezza */
}

.card-actions .btn {
  text-decoration: none !important; /* Rimuove l'underline */
  margin: 0; /* Rimuove il margine predefinito */
}

@media (max-width: 576px) {
  .card-wrapper {
    width: 100%; /* Una card per riga su schermi molto piccoli */
  }
}

.btn {
  white-space: nowrap;
}

/* Stile per i pulsanti quando lo spazio è limitato */
@media (max-width: 400px) {
  .card-actions {
    flex-direction: column;
    align-items: stretch;
  }
  
  .card-actions .btn {
    margin-bottom: 5px;
  }
}

.admin-dashboard .form-control,
.card-container {
  max-width: calc(100% - 40px); /* Sottrai il padding sinistro e destro del .admin-dashboard */
  margin-left: auto;
  margin-right: auto;
}