.member-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.member-card .card-body {
  color: white;
}

.member-name {
  font-size: 35px;
  margin-bottom: 1rem;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.info-column {
  flex: 1;
  min-width: 50%;
}

.info-column > div {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .member-card .row {
    flex-direction: column;
  }

  .member-card .col-md-4,
  .member-card .col-md-8,
  .member-card .card-body,
  .info-container,
  .info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .member-card .col-md-4 {
    margin-bottom: 15px;
  }

  .member-card img {
    border-radius: 10px;
    max-width: 80%;
    height: auto;
  }

  .member-name {
    font-size: 30px;
  }

  .info-column {
    min-width: 100%;
  }
}