/* Login.module.css */
.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form:focus {
  border-color: #007bff;
  outline: none;
}

.accedi {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.accedi:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.accedi:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.googleLogin {
  display: flex;
  background-color: #4285f4;
  margin: 20px auto;
  width: 220px;
  height: 45px;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.googleLogin:hover {
  background-color: #357ae8;
}

.googleLogin .react-icons {
  margin-right: 8px;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
  margin-top: 20px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
