.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    align-self: center;
  }
  
  .button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  /* Aggiungi questi stili per il file input */
  .fileInputContainer {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .fileInputLabel {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #333;
    cursor: pointer;
    text-align: center;
  }
  
  .fileInputLabel:hover {
    background-color: #e9ecef;
  }
  
  .fileInput {
    display: none;
  }
  