@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/sfondo.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: slideBackground 60s linear infinite;
  z-index: -1;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.content {
  position: relative;
  z-index: 2;
}

/* Effetto di dissolvenza */
.background::before,
.background::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  z-index: 2;
}

.background::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.background::after {
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}

.app-container {
  padding-bottom: 50px;
}

.content {
  min-height: calc(100vh - 50px); /* Sottrai l'altezza del footer */
}

/*Torna su*/

.scroll-to-top {
  position: fixed;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: left 0.3s ease;
  z-index: 1000;
}

.scroll-to-top.visible {
  left: 20px;
}

.scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.7);
}